
.symptomChecker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: #8e8989; 
    color: white;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #f0f0f0; 
    border-radius: 40px;
    padding: 5px;
    max-width: 500px;
    margin: 3% auto;
  }
  
 
  .symptomChecker h1 {
    font-size: 2rem;
    margin-bottom: 10%;
    color: white;
    
  }
  
 
  form {
    width: 100%;
    padding: 10px;
  }
  
  
  .textarea {
    width: 100%;
    height: 100px;
    margin: 25px 0 30px 0;
    padding: 30px;
    border: 1px solid #444;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #c4baba; 
    color: white;
    resize: none;
  }
  
  .textarea::placeholder {
    color: #e7dcdc;
  }
  
  .textarea:focus {
    border-color: #becbcd; 
    outline: none;
  }
  
 
  .button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #6a11cb, #3b62a5);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {
    transform: translateY(-2px); 
    box-shadow: 0 4px 8px rgba(0, 188, 212, 0.3);
  }
  
  
  .result {
    margin-top: 15px;
    padding: 10px;
    font-size: 1rem;
    color: white;
    background-color: #657c76; 
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  