/* General Section Styles */
.container {
    background-color: #f3f4f6;
    padding: 2rem 1rem;
  }
  
  .headerContainer {
    text-align: center;
    max-width: 60rem;
    margin: 1% auto;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.125rem;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  
  .highlight {
    font-weight: bold;
    color: #0d9488;
  }
  
  /* Card Styles */
  .cardsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 64rem;
    margin: 2rem auto;
  }
  
  .card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0d9488;
    margin-bottom: 1rem;
  }
  
  .cardText {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .list {
    list-style-type: disc;
    margin: 0;
    padding-left: 1.5rem;
    color: #ffffff;
  }
  
  @media (min-width: 768px) {
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Contact Section */
  .contactSection {
    background-color: #ffffff;
    margin-top: 1%;
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contactTitle {
    font-size: 1.875rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .contactText {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    margin: 1% auto;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
  }
  
  .formLabel {
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 0.5rem;
  }
  
  .formInput,
  .formTextarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .formInput:focus,
  .formTextarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 3px rgba(20, 184, 166, 0.2);
  }
  .submitButton {
    background-color: #042722;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: solid;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(227, 223, 223, 0.1);
    cursor: pointer;
  }
  
  