* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "outfit",Arial, Helvetica, sans-serif;
  background-image: url('/cat (2).jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 

}
html{
   scroll-behavior: smooth;
}